.xmas {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("http://25.media.tumblr.com/5503625b2461836f3e84669ee90f83ea/tumblr_mw7rdbwlI61qgd106o1_500.jpg") no-repeat 0 0/cover;
}

.xmas .to {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.xmas .to div {
  color: #ffffff;
  margin-bottom: 5px;
}

@-webkit-keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
    color: #b81313;
  }
  50% {
    transform: translate3d(0, -0.2em, 0);
    color: #db3e3e;
  }
  100% {
    transform: translate3d(0, 0, 0);
    color: #b81313;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 0.3em rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0px 0px 0.3em rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0px 0px 0.3em rgba(255, 255, 255, 0.8);
  }
}

.headline {
  margin: 0px !important;
  color: #b81313;
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  -webkit-animation-name: hover;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
}

@-webkit-keyframes animationFrames{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animationFrames{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.xmas-ornament {
  float: right;
  width: 8em;
  height: 8em;
  margin: 5em 0 0 2em;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px rgba(255,255,255,.5), 15px 15px 65px rgba(0,0,0,.5);
  animation: animationFrames ease-in-out 3s;
  -webkit-animation: animationFrames ease-in-out 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50% -2em;
  float: left;
}
.xmas-ornament::after {
  position: absolute;
  right: 8%;
  bottom: 8%;
  display: block;
  width: 70%;
  height: 70%;
  content: '';
  border-radius: 50%;
  border-color: rgba(255,255,255,.06);
  border-style: none solid solid none;
  border-width: 2px;
  background-image: -webkit-radial-gradient(70px 70px, circle closest-corner, rgba(255,255,255,.005), rgba(255,255,255,.15));
  background-image: -moz-radial-gradient(70px 70px, circle closest-corner, rgba(255,255,255,.005), rgba(255,255,255,.15));
  background-image: -ms-radial-gradient(70px 70px, circle closest-corner, rgba(255,255,255,.005), rgba(255,255,255,.15));
  background-image: -o-radial-gradient(70px 70px, circle closest-corner, rgba(255,255,255,.005), rgba(255,255,255,.15));
  background-image: radial-gradient(70px 70px, circle closest-corner, rgba(255,255,255,.005), rgba(255,255,255,.15));
}
.xmas-ornament::before {
  position: absolute;
  top: -2em;
  left: 50%;
  margin-left: -2em;
  display: block;
  width: 4em;
  height: 2.3em;
  content: '';
  background: silver;
  background: linear-gradient(to right, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
  border-radius: .3em;
}
.red {
  background: red;
  background-image: -webkit-radial-gradient(70px 70px, circle farthest-corner, rgb(255,0,0), rgb(127,0,0));
  background-image: -moz-radial-gradient(70px 70px, circle farthest-corner, rgb(255,0,0), rgb(127,0,0));
  background-image: -ms-radial-gradient(70px 70px, circle farthest-corner, rgb(255,0,0), rgb(127,0,0));
  background-image: -o-radial-gradient(70px 70px, circle farthest-corner, rgb(255,0,0), rgb(127,0,0));
  background-image: radial-gradient(70px 70px, circle farthest-corner, rgb(255,0,0), rgb(127,0,0));
}
.blue {
  background: blue;
  background-image: -webkit-radial-gradient(70px 70px, circle farthest-corner, rgb(0,0,255), rgb(0,0,127));
  background-image: -moz-radial-gradient(70px 70px, circle farthest-corner, rgb(0,0,255), rgb(0,0,127));
  background-image: -ms-radial-gradient(70px 70px, circle farthest-corner, rgb(0,0,255), rgb(0,0,127));
  background-image: -o-radial-gradient(70px 70px, circle farthest-corner, rgb(0,0,255), rgb(0,0,127));
  background-image: radial-gradient(70px 70px, circle farthest-corner, rgb(0,0,255), rgb(0,0,127));
}

.pull-right {
  margin-left: 30px;
}

.xmas #xmas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.xmas .from {
  position: absolute;
  bottom: 40px;
  width: 100%;
  z-index: 3;
  text-align: center;
}
.xmas .from div {
  font-family: "Berkshire Swash", sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}
.xmas .from .jp-link {
  display: inline-block;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: 400ms ease;
          transition: 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}
.xmas .from .jp-link:hover {
  color: #e74c3c;
}
